.navbar {
  background-color: #000;
}

.logo {
  color: gold;
}
#logoName {
  color: gold;
}

.nav-item {
  color: gold;
}
a:hover {
  color: #fff;
}

.qoutes {
  padding: 18rem 3rem 2rem 3rem;
  margin-top: -165px;
  text-align: center;
}

#qoutes {
  color: black;
}
.carousel-item {
  padding: 0rem 10rem;
}
.complaints {
  margin: 3rem 25rem;
}

.basicRule {
  padding: 3rem 3rem 3rem 3rem;
  text-align: center;
  font-weight: bold;
}
